# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/
ENV/

# Environment Variables
.env
.env.*

# Model files
*.pt
*.pth
*.pkl
*.joblib

# Logs
*.log
logs/

# Jupyter
.ipynb_checkpoints/

# Build / Distribution
build/
dist/
*.egg-info/

# VSCode
.vscode/

# macOS
.DS_Store

# Coverage
.coverage
htmlcov/
.pytest_cache/

# Redis dump
dump.rdb
